@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-around;
    background-color: #ccc;
}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;

}

header nav ul li {
    padding: 10px;
    border: 1px solid #222;
    border-radius: 12px;
    font-size: 1.5em;
    margin-left: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #222;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

.landscape-main {
    width: 100%;
    height: 532px;
    left: 0px;
    top: 80px;
}

.BlockMain {
    position: absolute;
    width: 500px;
    height: 500px;
    right: 175px;
    top: 200px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
}

.title {
    position: absolute;
    width: 380px;
    height: 42px;
    left: 75px;
    padding-top: 98px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #000000;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 177px;
    padding: 20px 86px 219px 10px;
}

section div {
    display: flex;
    justify-content: space-between;
}

section div div {
    padding-left: 36px;
    padding-right: 36px;

}

section div div img {
    width: 335px;
    height: 534px;
    left: 123px;
    top: 922px;
    border-radius: 31px;

}